.navbar-custom {
    margin-bottom: 1rem; /* Add spacing at the bottom */
    background-color: #007bff; /* Blue background color */
  }
  
  .navbar-brand .navbar-logo-text,
  .navbar-brand .navbar-logo-mini-text {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }
  
  .profile-icon {
    font-size: 1.5rem;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    color: #fff; /* Ensure text color is white */
  }
  
  .navbar-dropdown .dropdown-item {
    display: flex;
    align-items: center;
  }
  
  .nav-profile-img {
    display: flex;
    align-items: center;
  }
  
  .nav-profile-text p {
    color: #fff; /* Ensure text color is white */
  }


  .footer {
    background-color: #002b36;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  /* .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
  }
   */
  
  .footer-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .footer p {
    font-size: 0.875rem;
  }
  
  .nav-link {
    color: #fff;
  }
  
  .nav-link:hover {
    color: #007bff; /* Highlight color on hover */
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
  }
  
  .social-icon {
    font-size: 1.5rem;
    color: #fff;
  }
  
  .social-icon:hover {
    color: #007bff; /* Highlight color on hover */
  }
  
  .text-center {
    text-align: center;
  }
  
  